<section class="form-card">
  <div class="form-tabs">
    <p class="create-account-tab" id="signUpLink">Sign Up</p>
    <p class="signin-tab selected" id="signInLink">Sign In</p>
  </div>
  <div class="form-body">
    <h1>Sign In</h1>
    <ul class="errors-list"></ul>
    <form class="signin-form">      
      <div class="form-type-wrapper signin-wrapper">
        <div class="input-wrapper">
          <div>
            <label for="email">Email</label>
          </div>
          <div>
            <input type="email" id="email" name="email" required>
          </div>          
        </div>
        <div class="input-wrapper">
          <div>
            <label for="password">Password</label>
          </div>
          <div>
            <input type="password" id="password" name="password" required>
          </div>          
        </div>
        <div class="input-wrapper">
          <button class="btn-yell" type="submit">Go</button>
        </div>  
      </div>
    </form>        
  </div>
</section>   
      
      
