* {
  box-sizing: border-box;
}

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dbdbdb+0,737b7e+100 */
background: #dbdbdb; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #dbdbdb 0%, #737b7e 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #dbdbdb 0%,#737b7e 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #dbdbdb 0%,#737b7e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#737b7e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
min-height: 100vh;
font-family: 'Open Sans', san-serif;
padding: 0; margin: 0;
display: flex;
flex-direction: column;
color: rgb(53, 53, 53);
font-size: 1em;
}

p.no-tasks {
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 1.5em;
}

h2{
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em
}

span, div, li {
  font-size: .92em;
}

a, p {
  font-size: 1.1em
}


label, input, textarea{
  font-size: 1.2em;
  font-family: inherit;
}

p.tiny-text, label.tiny-text, input.tiny-text, textarea.tiny-text, li.tiny-text, a.tiny-text, span.tiny-text, div.tiny-text{
  font-size: .7em
}

i.fas {
  font-size: 1.7em;
}

header i.fas {
  font-size: 1.2em;
}


/*
  BUTTONS
*/

.btn-yell {
  padding: 8px 25px;
  border: 0;
  outline: none;
  border-radius: 5px;
  font-family: inherit;
  background: #F6E767;
  border: 1px solid rgb(146, 146, 146);
  text-transform: uppercase;
  cursor: pointer;
}

.btn-yell:hover {
  background: rgb(255, 231, 18);
}

.btn-yell:active {
  box-shadow: inset 0 0 3px rgba(0,0,0, .5);
}

/*Univerisal Page wrapper - controls width of page and centers */
.main-wrapper {
  width: 90vw;
  margin: 0 auto;
}

/* Page Header and Footer */
header, footer {
  background: #2C2E31;
  padding: 10px 0;
  margin: 0;
  color: rgb(202, 202, 202);
}

header .main-wrapper {
  display: flex;
  justify-content: space-between;
}

header .main-wrapper h1 {
  position: relative;
  color: #F6E767;
  font-weight: 100;
  padding: 0;
  margin: 0;
}

header .main-wrapper h1 i {
  color: rgb(36, 36, 36);
  position: absolute;
  left: 105%

}



header .main-wrapper nav {
  display: flex;
  align-items: center;
  background: red;
}

header .main-wrapper nav li {
  list-style: none;
}

header .main-wrapper nav li a {
  color: inherit;
  text-decoration: none;
  padding: 10px 10px;
  font-weight: 100;
  font-family: 'Raleway';
}

header .main-wrapper nav li:last-child a {
  border-left: 1px solid rgb(68, 68, 68);
}

header .main-wrapper nav li a:active {
  box-shadow: inset 5px 5px 12px rgba(0,0,0)
}

header .main-wrapper nav li a:hover {
  color: white;
}

header .main-wrapper nav li a.selected {
  background:rgb(29, 29, 29);
  color: white;
}

/* Sticky Footer */
main {
  flex-grow: 1
}

/* Create Account / Sign In Card 
================================== */
.form-card {
  background: #E1E5E6;
  margin: 60px auto 60px;
  border: 3px solid rgb(152, 156, 156);
  border-radius: 10px;
  box-shadow: 0px 0px 100px  rgb(212, 212, 212);
}

.form-card .form-tabs {
  background: #2C2E31;
  display: flex; 
  justify-content: space-around;
  color: rgb(189, 188, 188);
  border-radius: 8px 8px 0 0
}

.form-card .form-tabs p {
  width: 45%;
  text-align: center;
  border: 1px solid rgb(168, 168, 168);
  padding: 8px 5px;
  margin: 10px 0;
  border-radius: 5px;
  text-transform: uppercase;
}

.form-card .form-tabs p.selected {
  background: #F6E767;
  color: black;
}

.form-card .form-tabs p:not(.selected):hover {
  color: white;
  border: 1px solid white;
  cursor: pointer
}

.form-card .form-tabs p:not(.selected):active {
  box-shadow: inset 1px 1px 12px rgba(0,0,0,1);
}

.form-card h1 {
  text-align: center;
}


.form-card .form-type-wrapper,
ul.errors-list {
  width:80%;
  margin: 0 auto;
}


ul.errors-list {
  list-style: none
}

ul.errors-list li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.input-wrapper {
    width: 80%;
    margin: 15px auto;
  
}

.input-wrapper  input {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 30px;
  text-indent: 3px;
}

.form-card .btn-yell {
  margin: 20px 0
}


/* Add New Task Form 
====================== */
#modalContent form.create-new-task {
  max-width: 300px;
  margin: 0 auto;
}
#modalContent form.create-new-task h2{
  padding: 0;
  margin-top: 15px;
  text-align: center;
}

#modalContent form.create-new-task div:not(:first-child) {
  margin-top: 25px;
}

#modalContent form.create-new-task label {
  display: inline-block;
  width: 35%;
  text-align: right;
}

#modalContent form.create-new-task input {
  height: 30px;
  font-family: inherit;
}

#modalContent form.create-new-task input {
  width: 63%;
  text-align: left;
  text-indent: 3px;

}

#modalContent form.create-new-task label[for="notes"]  {
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px
}

#modalContent form.create-new-task textarea {
  min-height:70px;
  width: 100%;

}

#modalContent form.create-new-task div:last-child {
  text-align: center;
  margin-bottom: 20px
}

.task-success {
  color: white;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background: rgb(111, 165, 41); 
  border: 1px solid rgb(10, 83, 20);
  font-weight: 300;

}






/* Task Tool Bar above the tasks,  holds icons for addig new tasks deleting all or organising existing tasks.*/

div#task-tool-bar {
  display: flex;
  margin: 15px auto;
  justify-content: flex-start;
  border: 1px solid rgba(182, 181, 181, .3);
  box-shadow: 0 0 130px rgba(221, 216, 216, 0.2);
  padding: 10px;
  border-radius: 10px;
}

div#task-tool-bar i {
  color: #F6E767;
  cursor: pointer;
}

div#task-tool-bar i.fa-trash-alt,
div#task-tool-bar i.fa-clipboard {
  margin-left: 20px;
}

div#task-tool-bar i.fa-user-circle {
  margin-right: auto;
}

div#task-tool-bar i.fa-user-circle span.point-up{
  bottom: -150%;
}

/*Organising Tasks Modal*/

#taskOrganiserContent {
  padding: 10px
}

#taskOrganiserContent > div {
  padding: 5px;
  margin-top:15px
}

#taskOrganiserContent input {
  text-indent: 3px
}

#taskOrganiserContent label{
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

#taskOrganiserContent select {
  height: 25px;
}


/* Wipe Out All Tasks
======================= */
.delete-all.btn-yell {
  margin-top: 20px;
  padding: 8px 15px
}

/* THE TASK LIST  list-item
============================= */


section.task-list-wrapper {
  background: #F0F5F5;
  padding: 20px 0;
  border-radius: 15px;
  min-height: 600px;  
  margin-bottom: 50px
}

ul.task-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 90%; 


}

ul.task-list li.task-list-item {
  box-shadow: 1px 1px 15px rgba(0,0,0,.3);
  border-radius: 5px;
  min-height: 40px;
  padding: 5px 8px;
  list-style: none;
  border-left: 5px solid #EDE170;
  display: flex;
  position: relative;
}

ul.task-list li.task-list-item:not(:first-child) {
  margin-top: 10px;
}

ul.task-list li.task-list-item.completed {
  background: #ADB1B2;
  opacity: .6;
  transform: scale(.9)
}

div.task-col-1 {
  border-right: 1px solid rgb(223, 223, 223);
}

div.task-col-1 {
  font-size: .6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.task-col-1 input[type="checkbox"] {
  height:14px;
  width: 14px;
  position: absolute;
  left: -1px;
  cursor: pointer;
}

div.task-col-1 input#markComplete ~ span.tool-tip-box.point-down {
  font-size: 1em;
}

div.task-col-1 i.fas.fa-sticky-note { 
  color: #737b7e;
  position: relative;
  left: -4px;
  cursor: pointer;
}


i.edit-notes .tool-tip-box.point-up{
  font-size: .7em;
  bottom: -250%;
}

div.task-col-2 {
  flex-grow: 2;
  padding: 0 10px
}

div.task-col-2 .task-desc {
  font-weight: bold;
  padding: 5px 0;
  /* border:1px solid blue */
}

div.task-col-2 .task-lower-half {
  /* border: 1px solid yellow; */
  padding: 5px 0;
}

div.task-col-3 {
  display: flex;
  align-items: center;
  font-size: .6em;
  color: rgb(116, 116, 116);
}

div.task-col-3 i {
  cursor: pointer;
}

i.delete-task span{
  font-size: .7em !important;
}

div#changeDateWrapper {
  margin-top: 3px
}

/*Changing the due Date */
a#confirmChangeDueDate,
a#cancelChangeDueDate {
  margin-left: 3px
}


/* Edit Notes Accordian Element */
li.notes-holder-li {
  height: 0;
  overflow: hidden;
  width: 96%;
  margin: 0 auto;
  position: relative;
  background: rgb(240, 240, 240);
  list-style: none;
  border-bottom: 1px solid rgb(201, 201, 201);
  border-right: 1px solid rgb(201, 201, 201);
  border-left: 1px solid rgb(201, 201, 201);
  box-shadow: inset 0px 0px 8px rgba(0,0,0,.3)
}

li.notes-holder-li.open-note {
  min-height: 250px;
}


li.notes-list-item {
  position: relative;
}

.add-note-container {
  position: absolute;
  width: 100%;
  min-height: 100px;
  bottom: -55%;
  left: 0;
  transition: bottom .2s ease-in-out;
  z-index: 2;

}

.add-note-open {
  bottom: 0%;
  transition: bottom .4s ease
}

.add-note-container label {
  font-size: 1em;
  background: white;
  padding: 10px; 
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}

.add-note-container textarea {
  width: 100%;
  height: 100%;
  min-height: 100px;
  font-size: .9em;
  border: none;
}

.add-note-container .btn-wrapper {
  display: flex;
  justify-content: space-around;
}

.add-note-container .btn-yell {
  margin: 5px;
  text-align: center;
  padding: 5px 15px;
  font-size: .7rem;
}

ul.notes-list {
  padding: 10px 20px
}


ul.notes-list .note-added-date {
  font-size: .7em;
  font-style: italic;
}

ul.notes-list li.notes-list-item {
  font-size: .9em;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(224, 224, 224);
  list-style: none;
}

ul.notes-list li.notes-list-item a.remove-note {
  font-size: .8em;
}











/* ==== FILTERING, SORTING, PAGINATION OF THE UL ==== 
   ================================================== */

   div.select-filters {
    text-align: center;
  }
  
  div#links-bar {
    text-align: center;
    width: 90%;
    margin: 15px auto 10px;
    display: flex;
    justify-content: space-between;
    /* rgba(136, 71, 71, 0.2) */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#884747+0,ffffff+100 */
    background: rgba(255, 255, 255, 1); /* Old browsers */
    background: -moz-linear-gradient(left,  #F7F6F5 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #F7F6F5 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgb(235, 235, 235) 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F6F5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0,0,0, .1);
    padding: 0px 10px;
    border-radius: 10px;
  }
  
  div#links-bar ul {
    display: flex;
    margin: 5px
  }
  
  div#links-bar ul li {
    padding: 2px 4px;
    /* background: #65297A; */
    border: 1px solid rgb(206, 206, 205);
    border-radius: 2px;
    color: rgb(54, 54, 54);
    list-style: none;
    margin-left: 5px;
    cursor: pointer;

  }
  
  div#links-bar ul li.current {
    color: #FFF;
    box-shadow: inset 1px 1px 10px rgba(0,0,0, .8);  
    background:#F3E569
  }
  
  div#links-bar ul li:active {
    background: #F3E569;
    box-shadow: inset 2px 2px 6px rgba(0,0,0, .8);

  }
  




   /* svg image for custom select button */
   .select-css {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: inherit;
    line-height: 1.4;
    padding: .6em 1.4em .5em .8em;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFF;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #F6E767 0%,#DAD380 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }

  .select-css::-ms-expand {
    display: none;
  }

  .select-css:hover {
    border-color: #888;
  }

  .select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 1px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 1px -moz-mac-focusring;
    color: rgba(59, 153, 252, 1);
    outline: none;
  }
  .select-css option {
    font-weight:normal;
  }